/* ====================================
   GLOBAL STYLESHEET
   Imports all theme, layout, components
   ==================================== */

@import "./variables.css";
@import "./layout/layout.css";
@import "./layout/container.css";
@import "./pages/projects.css";
@import "./components/header.css";
@import "./components/nav.css";
@import "./components/hero.css";
@import "./components/card.css";
@import "./components/button.css";
@import "./components/badge.css";
@import "./utilities/spacing.css";

/* ====================================
   BASE RESETS
   ==================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
}

ul,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}
