<div class="site-footer">
  <p class="site-footer__text">© 2024 Leonard. All rights reserved.</p>
  <div class="site-footer__links">
    <a
      href="https://github.com/Leonard-Atorough"
      target="_blank"
      rel="noopener noreferrer"
      class="site-footer__link">GitHub</a
    >
    <a
      href="https://www.linkedin.com/in/leonard-atorough/"
      target="_blank"
      rel="noopener noreferrer"
      class="site-footer__link">LinkedIn</a
    >
    <a href="mailto:leotorough@pm.me" class="site-footer__link">Email</a>
  </div>
</div>
