---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section id="contact" class="container mt-lg mb-lg mx-auto">
    <h2 class="section-title">Contact Me</h2>
    <p class="section-description">
      I'm always open to new opportunities and collaborations. Feel free to reach out to me through
      any of the following channels:
    </p>
    <ul class="contact-list">
      <li>Email: <a href="mailto:"></a></li>
      <li>LinkedIn: <a href="https://www.linkedin.com/in/leonard-atorough"></a></li>
      <li>GitHub: <a href="https://github.com/leonard-atorough"></a></li>
    </ul>
  </section>
</Layout>
