<section class="container flex-col flex-between">
  <div class="about mt-lg mx-auto">
    <div class="about-header mb-lg">
      <h2 class="about-header__title mt-sm pb-xs">A little bit about me</h2>
      <p class="about-header__subtitle">And my long journey into software development</p>
    </div>
    <div class="about-content">
      <p class="about-content__paragraph">
        I started my journey into software development in 2015, when I was still in high school. I
        was fascinated by the idea of creating something from nothing, and I wanted to learn how to
        do it. I started with HTML and CSS, and then moved on to JavaScript. I was hooked.
      </p>
      <p class="about-content__paragraph">
        Over the years, I have learned a lot about software development, and I have worked on
        various projects, both personal and professional. I have a passion for learning new
        technologies and improving my skills, and I am always looking for new challenges.
      </p>
      <p class="about-content__paragraph">
        I am currently a software developer at a tech company, where I work on building web
        applications. I am also a freelance developer, and I have worked on various projects for
        clients around the world. I am always looking for new opportunities to grow and learn, and I
        am excited to see where my journey in software development will take me next.
      </p>
    </div>
  </div>
</section>
