<section class="about">
  <div>
    <div class="about-header">
      <h2 class="about-header--title">A little bit about me</h2>
      <p class="about-header--subtitle">And my long journey into software development</p>
    </div>
    <div class="about-content">
      <p class="about-content--paragraph">
        I started my journey into software development in 2015, when I was still in high school. I
        was fascinated by the idea of creating something from nothing, and I wanted to learn how to
        do it. I started with HTML and CSS, and then moved on to JavaScript. I was hooked.
      </p>
    </div>
  </div>
</section>
