<section class="hero">
  <h1 class="hero-title">Hi, I'm Leonard Atorough</h1>
  <p class="hero-subtitle">
    A Software Developer with a love of Web Technologies, .NET/C#, APIs and a little bit of C on the side.
  </p>
  <ul class="skill-badges">
    <li class="badge badge-skill">.NET</li>
    <li class="badge badge-skill">C#</li>
    <li class="badge badge-skill">JavaScript</li>
    <li class="badge badge-skill">TypeScript</li>
    <li class="badge badge-skill">React</li>
    <li class="badge badge-skill">Astro</li>
  </ul>
  <a href="/projects" class="btn btn--secondary">View My Work</a>
</section>
