/* Card Component Styles */

.card {
  padding: var(--spacing-large);
  background-color: var(--card-background);
  border: var(--border-width) var(--border-style) var(--border-color);
  border-radius: var(--border-radius-medium);
  box-shadow: var(--button-shadow);
  transition: box-shadow var(--transition-speed-normal);
  max-width: 400px;
}

.card:hover {
  box-shadow: var(--button-shadow-hover);
}

.card-title {
  font-size: var(--heading-font-size);
  margin-bottom: var(--spacing-medium);
  color: var(--text-color-dark);
}

.card-description {
  font-size: var(--body-font-size);
  color: var(--text-color-dark);
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing-medium);
  background-color: var(--card-background-white);
  color: var(--text-color-dark);
  box-shadow: none;
}

.project-card:hover {
  box-shadow: -6px 6px 0 var(--primary-color);
}

.project-card__image {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius-small);
}

.project-card-image {
  width: 100%;
  height: auto;
  min-height: 200px;
  border-radius: var(--border-radius-small);
}

.project-card-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

.project-card-tags {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: var(--spacing-small);
}

.project-card-tags > * {
  flex: 1 1 auto;
  text-align: center;
  max-width: 100%;
}
