/* Card Component Styles */

.card {
  padding: var(--spacing-large);
  background-color: var(--card-background-white);
  color: var(--text-color-dark);
  border: var(--border-width) var(--border-style) var(--border-color);
  border-radius: var(--border-radius-medium);
  box-shadow: var(--button-shadow);
  transition: box-shadow var(--transition-speed-normal);
  width: 360px;
}

.card:hover {
  box-shadow: var(--button-shadow-hover);
}

.card__title {
  font-size: var(--subheading-font-size);
  color: var(--text-color-dark);
}

.card__description {
  font-size: var(--info-font-size);
  color: var(--text-color-dark);
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  word-wrap: break-word;
  gap: var(--spacing-medium);
  box-shadow: none;
  border: var(--border-width) var(--border-style) var(--border-color-secondary);
}

.project-card:hover {
  box-shadow: -6px 6px 0 var(--primary-color);
}

.project-card__image {
  width: 100%;
  height: 200px;
  border-radius: var(--border-radius-small);
  border-bottom: var(--border-width) var(--border-style) var(--border-color);
  background-color: var(--secondary-color);
}

.project-card__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

.project-card__tags {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: var(--spacing-small);
}

.project-card__tags > * {
  flex: 1 1 auto;
  text-align: center;
  max-width: 100%;
}
