/* Header / Navigation Component Styles */

.site-header {
  text-align: center;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--border-width) solid var(--border-color);
}

.site-header__title {
  font-size: var(--title-font-size);
}

/* Mobile styles */

@media (max-width: 768px) {
  .site-header {
    flex-direction: column;
  }

  .site-header__title {
    font-size: var(--subtitle-font-size);
  }
}