---
import PageFooter from "../components/layout/PageFooter.astro";
import PageHeader from "../components/layout/PageHeader.tsx";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Leonard Atorough</title>
  </head>
  <body>
    <div id="app">
      <PageHeader
        client:load
        title="Leonard Atorough"
        navItems={[
          { label: "Home", link: "/" },
          { label: "Projects", link: "/projects" },
          { label: "Blog", link: "/blog" },
          { label: "Contact", link: "/contact", type: "button" },
          { label: "Resume", link: "/resume.pdf", type: "button" },
        ]}
      />
      <slot />
      <PageFooter />
    </div>
  </body>
</html>
