/* ====================================
   TYPOGRAPHY
   ==================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family);
  margin-bottom: var(--spacing-medium);
  line-height: 1.3;
}

h1 {
  font-size: var(--title-font-size);
}

h2 {
  font-size: var(--large-heading-font-size);
}

h3 {
  font-size: var(--heading-font-size);
}

p {
  font-size: var(--body-font-size);
  margin-bottom: var(--spacing-medium);
}

small {
  font-size: var(--info-font-size);
}
